.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
  
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
  
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
  
.product-device, .product-device-2 {
  position: absolute;
  width: 300px;
  height: 540px;
  border-radius: 21px;
}
  
.product-device {
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  transform: rotate(30deg);
}
  
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}
  
.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #bdbdbd;
}
  
.flex-equal > * {
  flex: 1;
}
  
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.img-fluid {
  max-width: 100%; /* Prevents images from stretching beyond their containers */
  max-height: 400px; /* Sets a maximum height for all images */
  object-fit: contain; /* Keeps the aspect ratio, preventing images from being cut off */
  margin: 0 auto;  /* Ensures the image covers the area while maintaining aspect ratio */
}