body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #fff;
}

header {
  background-color: #a098ec;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

main {
  padding: 20px;
}

.box-office {
  text-align: center;
}

.movies {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.movie {
  background-color: #bdbdbd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.movie_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.movie img {
  width: 100%;
  border-radius: 10px;
}

.likes {
  margin: 10px 0;
}

button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
  border-radius: 5px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #444;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}
